.navbar__logo:hover {
    cursor: pointer;
}

.navbar__logo img {
    height: 100%;
}

.span__underlined__animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #864ab2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn__underlined__animation:hover .span__underlined__animation:after {
transform: scaleX(1);
transform-origin: bottom left;
}