#es_fondo {
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 360px;
    height: 360px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../../../assets/img/Dager2.png');
}

.es_parallax {
    width: 360px;
    height: 126px;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.es_parallax_layer_pepino {
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url('../../../assets/img/pepino.svg');
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 110px;
}

.es_parallax_layer_menton {
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url('../../../assets/img/menton.png');
    width: 64px;
    height: 70px;
    top: 0;
    right: 139px;
}