* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.player {
  height: 120%;
  position: absolute;
  bottom: 0;
}

.youtube_ul {
  list-style-position: inside;
  list-style-image: url('./assets/img/li.png');
  display: block;
}

.youtube_ul li {
  transition: transform ease-in-out .2s;
}

.youtube_ul li span {
  margin-left: 0.5rem;
}


.music_iframe {
  border: none;
  width: 100%;
  height: 352px;
}

.redes__logo {
  color: #FFFFFF;
  margin: 1rem !important;
}

.redes__logo svg {
  color: currentColor;
}

.animacion {
  width: 100%;
  height: 100%;
}

#youtube {
  background-image: url('./assets/img/Fondo3.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}

#music {
  background-image: url('./assets/img/Fondo2.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

#contact {
  background-image: url('./assets/img/Fondo.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.lumber {
  border: none;
}


@keyframes wiggle {
  0% {
    transform: rotateY(0);
  }
  40% {
    transform: rotateY(20deg);
  }
  60% {
    transform: rotateY(0);
  }
  80% {
    transform: rotateY(-20deg);
  }
  100% {
    transform: rotateY(0);
  }
}

@media screen and (min-width: 900px) {
  .youtube_ul li:hover {
    transform: translateX(24px);
    filter: none;
  }

  .youtube_ul li:hover ~ a {
    filter: blur(50%);
  }

  .redes__logo:hover {
    animation-name: wiggle;
    animation-duration: .5s;
    color: #864ab2;
    transition: color ease-in-out .2s;
  }
}
